

<div class="search-header details-background container">
    <h2 class=" headerColor details-background">Product Details</h2>
    <div class="row">

        <div class="col-sm-4">
            <p class="lead">{{ model.product.name }}</p>
            <div class="list-group details table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Condition</th>
                        <td>{{model.product.condition}}</td>
                    </tr>
                    <tr>
                        <th>Manufacturer</th>
                        <td>{{model.product.manufacturer}}</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>{{model.product.department}}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>${{model.product.salePrice}}</td>
                    </tr>
                    <tr>
                        <th>Manufacture</th>
                        <td>{{model.product.manufacturer}}</td>
                    </tr>
                    <tr>
                        <th>Class</th>
                        <td>{{model.product.class}}</td>
                    </tr>
                    <tr>
                        <th>Model Number</th>
                        <td>{{model.product.modelNumber}}</td>
                    </tr>
                    <tr>
                        <th>Warrany Labor</th>
                        <td>{{model.product.warrantyLabor}}</td>
                    </tr>
                    <tr>
                        <th>Warranty Parts</th>
                        <td>{{model.product.warrantyParts}}</td>
                    </tr>
                    <tr>
                        <th>Condition</th>
                        <td>{{model.product.condition}}</td>
                    </tr>
                    <tr>
                        <th>In Store Pickup ?</th>
                        <td>{{model.product.inStorePickup}}</td>
                    </tr>
                    <tr>
                        <th>Home Delivery ?</th>
                        <td>{{model.product.homeDelivery}}</td>
                    </tr>
                </table>

                <br><br>

                <div class="text-center">
                    <p ng-hide="model.isliked" class="lead custom">Like this product? Let us know!</p>
                <a style="text-decoration: none" ng-hide="model.isliked" href=""
                   ng-click="model.likeProd(model.product.sku)">

                    <i title="Like" class="fa fa-thumbs-o-up fa-lg fa-2x"></i></a>
                    <p ng-if="model.isliked" class="lead custom">You have liked this product. <b class="dangerText">Click below to dislike it!</b></p>
                <a style="text-decoration: none" ng-if="model.isliked" href=""
                   ng-click="model.undolikeProd(model.product.sku)">

                    <i title="Unlike" class="fa fa-thumbs-o-down fa-lg fa-2x orangecolor"></i></a>

                <hr>


                        <p class="lead custom"> Average Rating!</p>
                           <p> <ng-rating ng-model="model.avgRating"
                                       editable="false">
                            </ng-rating>
                        </p>
                    <p class="lead">{{model.avgRating}}/5</p>

                </div>

          </div>
        </div>

        <div class="col-sm-8">

            <div class="thumbnail">
                <img class="img-responsive" ng-src="{{model.product.image}}" alt="Loading ...">
                <div class="caption-full">
                    <h4 class="pull-right">${{model.product.salePrice}}</h4>
                    <h4><a href="">{{model.product.name }}</a>
                    </h4>
                    <p>{{model.product.longDescription}}</p>
                </div>
            </div>

            <div ng-if="!model.currentUser" class="alert alert-info">
                <strong>Not logged in?</strong> Login to 'Like' this product or write a review about it.
            </div>

            <div ng-if="model.reviewsData.length===0" class="alert alert-info">
                <strong>No reviews?</strong> Help others by writing a review.
            </div>

            <div class="well" ng-show="model.reviewsData">
                <div class="text-right">
                    <a class="btn btn-success" ng-click="model.showReview()">Leave a Review</a>
                </div>
                <div id="writeReviewDiv" style="display:block;" class="panel-body" ng-if="model.abc">
                    <div class="row">
                        <div class="well margin-well">
                            <h4>What do you think about the product?</h4>
                            <form role="form" class="ng-pristine ng-valid">
                                <div star-rating ng-model="model.rating1" max="5" on-rating-select="model.rateFunction(rating)"></div>
                                <div class="form-group">
                                    <textarea ng-model="model.review.title" placeholder="Title" class="form-control"
                                              rows="1"></textarea>
                                </div>
                                <div class="form-group">
                                    <textarea ng-model="model.review.review" placeholder="Your Review" class="form-control"
                                              rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary" id="submit" ng-if="model.xyz" ng-click="model.addReview(model.review, model.rating1)"
                                        >Submit
                                </button>
                                <button type="submit" class="btn btn-warning" id="update" ng-if="!model.xyz" ng-click="model.updateReview(model.review, model.rating1)">Update
                                </button>

                                <button type="submit" class="btn btn-info" id="cancel" href=""
                                        ng-click="model.cancelReview($index)">
                                    Cancel
                                </button>
                            </form>
                        </div>
                    </div>
                </div>



                <hr>
                <div ng-repeat="review in model.reviewsData">
                    <p><b>Reviewer: </b><a  href="#/profile/{{review.userId}}" style="text-decoration: none">{{review.username}}</a>    <b class="message">Click on the name to visit this profile</b></p>
                    <div star-rating ng-model="review.rating" max="5" on-rating-select="model.rateFunction(rating)"></div>
                    <p><b>Title: </b>{{review.title}}</p>
                    <p><b>Comment: </b>{{review.review}}</p>
                    <p class="pull-right" style="color: #2b542c"><b>Created On: </b>{{review.createdOn | date : 'mediumDate'}}</p>
                    <!--<p class="pull-right" style="color: #2b542c"><b>Updated On: </b>{{review.updatedOn | date : 'mediumDate'}}</p>-->
                    <div ng-show="model.currentUser._id == review.userId">
                        <p><a id="edit" style="text-decoration: none" href=""
                              ng-click="model.selectedReview($index)"> Edit | </a>
                            <a href="" style="text-decoration: none" ng-click="model.deleteReview(review)">Delete</a>
                        </p>
                    </div>
                    <div ng-hide="model.currentUser._id == review.userId">
                        <p  ng-if="!(model.isFollowed1(review.userId,model.currentUser.following))" class="custom">Click below to follow this user!</p>
                        <a style="text-decoration: none" ng-if="!(model.isFollowed1(review.userId,model.currentUser.following))" href="javascript:void(0);"
                           ng-click="model.followUser(review.userId)">

                            <i title="Follow" class="fa fa-user fa-lg fa-2x"></i></a>
                        <p ng-if="(model.isFollowed1(review.userId,model.currentUser.following))"class="custom">You have followed this user.<b class="dangerText"> Click below to un-follow!</b></p>
                        <a style="text-decoration: none" ng-if="model.isFollowed1(review.userId,model.currentUser.following)" href="javascript:void(0);"
                           ng-click="model.undofollowUser(review.userId)">

                            <i title="Un-Follow" class="fa fa-user fa-lg fa-2x orangecolor"></i></a>
                        <hr>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.star-rating').raty({
        path: 'images/',
        score: function () {
            return $(this).attr('data-score');
        }
    });
    $('.star-rating-custom').raty({
        path: 'images/',
        score: function () {
            return $(this).attr('data-score');
        }
    });

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
