<div class="container-fluid registerBackground" ng-controller="LoginController">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="alert alert-info">
                <strong>Welcome Back!</strong> Please provide your credentials to continue.
            </div>
            <h1 class="page-header">Login</h1>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3" for="username">Username:</label>
                    <div class="col-sm-9">
                        <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" for="pwd">Password:</label>
                    <div class="col-sm-9">
                        <input ng-model="model.user.password" type="password" class="form-control" id="pwd" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <a href="" ng-click="model.login(model.user)" class="btn btn-success btn-block">Login</a>
                    </div>
                </div>
            </form>
            <div ng-if="model.notUser" class="alert alert-danger">
                <strong>Sorry!</strong> Please provide the correct credentials.
            </div>
        </div>
    </div>
</div>