<div class="container-fluid registerBackground" ng-controller="RegisterController">
    <div class="row">

        <div class="col-xs-11 col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="alert alert-info">
                <strong>Welcome!</strong> Please provide your details below. All the fields are mandatory.
            </div>


            <h1 class="page-header">Register</h1>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3" for="username">Username:</label>
                    <div class="col-sm-9">
                        <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" for="password">Password:</label>
                    <div class="col-sm-9">
                        <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" for="verifyPassword">Verify Password:</label>
                    <div class="col-sm-9">
                        <input ng-model="model.user.verifyPassword" type="password" class="form-control" id="verifyPassword" placeholder="Verify Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3" for="email">Email:</label>
                    <div class="col-sm-9">
                        <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <a href="" ng-click="model.register(model.user)" class="btn btn-success btn-block">Register</a>
                    </div>
                </div>
            </form>

            <div ng-if="model.isUsernamePresent" class="alert alert-danger">
                <strong>Oh No!</strong> The username is already taken. Please provide a different username.
            </div>
        </div>
    </div>
</div>