    <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <h1 class="page-header">Forms</h1>
                        <ul class="nav nav-tabs">
                            <li role="presentation">
                                <a href="../forms/forms.view.html">Forms</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#">Fields</a>
                            </li>
                        </ul>
                        <br>
                        <div class="form-fields container-fluid">
                            <div class="row">
                                <div class="col-xs-5">
                                    <label for="fname">First Name:</label>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="form-group col-xs-7">
                                        <input type="text" class="form-control" id="fname" placeholder="First Name">
                                    </div>
                                    <div class="col-xs-5">
                                        <a href="#">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-plus">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-align-justify">
                                            </span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label for="lname">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="form-group col-xs-7">
                                        <input type="text" class="form-control" id="lname" placeholder="Last Name">
                                    </div>
                                    <div class="col-xs-5">
                                        <a href="#">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-plus">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-align-justify">
                                            </span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label for="dob">Date of Birth:</label>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="form-group col-xs-7">
                                        <input type="text" class="form-control" id="dob" placeholder="mm/dd/yyyy">
                                    </div>
                                    <div class="col-xs-5">
                                        <a href="#">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-plus">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-align-justify">
                                            </span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label for="fname">Gender:</label>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="form-group col-xs-7">
                                        <select class="form-control" id="sel1">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <a href="#">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-plus">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-align-justify">
                                            </span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label for="ckbox1">Roles:</label>
                                </div>
                                <div class="row">
                                    <form>
                                        <div class="form-group col-xs-7 checkbox ckbox1">
                                            <label><input type="checkbox" id="ckbox1">Admin</label>
                                        </div>
                                        <div class="form-group col-xs-7 checkbox ckbox1">
                                            <label><input type="checkbox" id="ckbox1">Student</label>
                                        </div>
                                        <div class="form-group col-xs-7 checkbox ckbox1">
                                            <label><input type="checkbox" id="ckbox1">User</label>
                                        </div>
                                        <div class="col-xs-5 g2">
                                            <a href="#">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil">
                                            </span>
                                            </a>
                                            <a href="#">
                                            <span class="glyphicon glyphicon-plus">
                                            </span>
                                            </a>
                                            <a href="#">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                            </a>
                                            <a href="#">
                                            <span class="glyphicon glyphicon-align-justify">
                                            </span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7">
                                    <label for="radio1">License Agreement:</label>
                                </div>
                                <div class="row">
                                    <form>
                                        <div class="form-group col-xs-7 radio rad1">
                                            <label><input type="radio"  name ="opradio" id="radio1">Yes</label>
                                        </div>
                                        <div class="form-group col-xs-7 radio rad1">
                                            <label><input type="radio" name ="opradio">No</label>
                                        </div>
                                        <div class="col-xs-5 g2">
                                            <a href="#">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil">
                                            </span>
                                            </a>
                                            <a href="#">
                                            <span class="glyphicon glyphicon-plus">
                                            </span>
                                            </a>
                                            <a href="#">
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                            </a>
                                            <a href="#">
                                            <span class="glyphicon glyphicon-align-justify">
                                            </span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="lastLine" noshade color="black">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="sel2">Add New Field:</label>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="form-group col-xs-8">
                                        <select class="form-control" id="sel2">
                                            <option>Single</option>
                                            <option>Date</option>
                                            <option>Dropdown</option>
                                            <option>Checkboxes</option>
                                            <option>Radio Buttons</option>
                                            <option>Paragraph Text</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="#">
                                        <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
