<div ng-controller="AdminController as model"  class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>

            <h3 class="page-header">Users</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th ng-click="model.order('username')">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                          ng-show="(model.predicate == 'username') && (model.reverse == true)"></span>
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                          ng-show="(model.predicate == 'username') && (model.reverse == false)"></span>
                            Username
                        </th>
                        <th>Password</th>
                        <th ng-click="model.order('firstName')">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                          ng-show="(model.predicate == 'firstName') && (model.reverse == true)"></span>
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                          ng-show="(model.predicate == 'firstName') && (model.reverse == false)"></span>
                            FirstName
                        </th>
                        <th ng-click="model.order('lastName')">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                          ng-show="(model.predicate == 'lastName') && (model.reverse == true)"></span>
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                          ng-show="(model.predicate == 'lastName') && (model.reverse == false)"></span>
                            LastName
                        </th>
                        <th>
                           Roles
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input ng-model="model.user.username" type="text" class="form-control text" placeholder="username">
                        </td>
                        <td>
                            <input ng-model="model.user.password" type="text" class="form-control text" placeholder="password">
                        </td>
                        <td>
                            <input ng-model="model.user.firstName" type="text" class="form-control text" placeholder="first name">
                        </td>
                        <td>
                            <input ng-model="model.user.lastName" type="text" class="form-control text" placeholder="last name">
                        </td>
                        <td>
                            <input ng-model="model.user.roles" type="text" class="form-control text" placeholder="roles">
                        </td>
                        <td>
                            <a href="" ng-click="model.register(model.user)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                </span>
                            </a>
                            <a href="" ng-click="model.update(model.user)">
                                <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true">
                                </span>
                            </a>
                        </td>
                    </tr>


                    <tr ng-repeat="user in model.userData | orderBy:model.predicate:model.reverse">
                        <td>
                            {{user.username}}
                        </td>
                        <td>
                            ******
                        </td>
                        <td>
                            {{user.firstName}}
                        </td>
                        <td>
                            {{user.lastName}}
                        </td>
                        <td>
                            {{user.roles.join(",")}}
                        </td>
                        <td>
                            <a href="" ng-click="model.selectUser(user.username)">
                                            <span class="edit-icon-lt glyphicon glyphicon-pencil pull-left">
                                            </span>
                            </a>
                            <a href="" ng-click="model.deleteUser(user._id)">
                                            <span class="glyphicon glyphicon-remove pull-right">
                                            </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
    $(".contentContainer").height($(window).height());
</script>
</body>
</html>