
    <section ng-show="model.categoryData">
        <div class="container">
        <h2 class="search-header"> Search Results</h2>

        <div class="row"
             infinite-scroll="model.myPagingFunction()"
             infinite-scroll-disabled='model.busy'
             infinite-scroll-distance="1">
            <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="product in model.categoryData.products" ng-if="product.image != undefined">
                <div class="thumbnail" style="height: 300px;">
                    <a href="#/details/{{product.sku}}"><img ng-src="{{product.image}}" height="120" width="110" alt="http://placehold.it/320x150"></a>
                    <div class="caption">
                        <p class="image-descr"><a href="#/details/{{product.sku}}">{{product.name.substring(0,40)}}...</a></p>
                        <p>
                        <p class="image-price">${{product.salePrice}}</p>
                        <!--<p>{{product.shortDescription}}</p>-->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
