<!--<div class="container margin-section category-background">-->
    <!--<div class="row ">-->
        <!--<div class="col-lg-12">-->
            <!--<h3 class="page-header headerCatg">Pick a Category</h3>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="../images/electronics.jpg" alt="http://placehold.it/500x300">-->
                <!--<div class="carousel-caption">-->
                    <!--<h4>Electronics</h4>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="../images/music2.jpg" alt="http://placehold.it/500x300">-->
                <!--<div class="carousel-caption">-->
                    <!--<h4>Music</h4>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-sm-4 col-xs-6 img-hover">-->
            <!--<a href="#">-->
                <!--<img class="img-responsive portfolio-item" src="../images/games.jpg" alt="http://placehold.it/500x300">-->
                <!--<div class="carousel-caption">-->
                    <!--<h4>Games</h4>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--<br>-->
    <!--</div>-->
    <!--</div>-->