<nav ng-controller="HeaderController as model" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Shopaholic</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/home">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#/login">Login</a></li>-->
                        <!--<li><a href="#/register">Register</a></li>-->
                        <li ng-hide="currentUser" ng-class="{'active': model.$location.url() == '/register'}">
                            <a href="#/register">Register</a>
                        </li>
                        <li ng-hide="currentUser" ng-class="{'active': model.$location.url() == '/login'}">
                            <a href="#/login">Login</a>
                        </li>
                        <li ng-show="currentUser">
                            <a href="#/profile">{{currentUser.username}}</a>
                        </li>
                        <li ng-hide="!currentUser"
                            ng-click="model.logout()">
                            <a href="">Logout</a>
                        </li>
                </div>
        </div>
</nav>

<!--<nav ng-controller="HeaderController as model" class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#/home">Form Maker</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->

            <!--&lt;!&ndash;<li ng-hide="user" ng-class="{'active': location.url() == '/register'}">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#/register">Register</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li ng-hide="user" ng-class="{'active': location.url() == '/login'}">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#/login">Login</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li ng-show="user">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#/profile">{{user.username}}</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li ng-hide="!user"&ndash;&gt;-->
            <!--&lt;!&ndash;ng-click="logout()">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="">Logout</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->

            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li ng-class="{'active': model.$location.url() == '/register'}"-->
                    <!--ng-hide="currentUser">-->
                    <!--<a href="#/register">Register</a>-->
                <!--</li>-->
                <!--<li ng-class="{'active': model.$location.url() == '/login'}"-->
                    <!--ng-hide="currentUser">-->
                    <!--<a href="#/login">Login</a>-->
                <!--</li>-->
                <!--<li ng-show="currentUser">-->
                    <!--<a href="#/profile">{{currentUser.username}}</a>-->
                <!--</li>-->
                <!--<li ng-show="currentUser">-->
                    <!--<a href="" ng-click="model.logout()">Logout</a>-->
                <!--</li>-->



                <!--&lt;!&ndash;<li ng-class="{'active': model.$location.url() == '/home'}"&ndash;&gt;-->
                <!--&lt;!&ndash;    class="visible-xs">&ndash;&gt;-->
                <!--&lt;!&ndash;    <a href="#/home">Home <span class="sr-only">(current)</span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-show="currentUser"&ndash;&gt;-->
                <!--&lt;!&ndash;    ng-class="{'active': model.$location.url() == '/profile'}"&ndash;&gt;-->
                <!--&lt;!&ndash;    class="visible-xs">&ndash;&gt;-->
                <!--&lt;!&ndash;    <a href="#/profile">Profile</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-show="currentUser"&ndash;&gt;-->
                <!--&lt;!&ndash;    ng-class="{'active': model.$location.url() == '/admin'}"&ndash;&gt;-->
                <!--&lt;!&ndash;    class="visible-xs">&ndash;&gt;-->
                <!--&lt;!&ndash;    <a href="#/admin">Admin</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li ng-show="currentUser"&ndash;&gt;-->
                <!--&lt;!&ndash;    ng-class="{'active': model.$location.url() == '/forms'}"&ndash;&gt;-->
                <!--&lt;!&ndash;    class="visible-xs">&ndash;&gt;-->
                <!--&lt;!&ndash;    <a href="#/forms">Forms</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->